body{
    background-color: white;
}

.project_heading{
  text-align: center;
  
}

.project_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;

}


.project_count{
font-size:  100px;
text-align: center;
}

 .project_button {
    font-size: 30px;
     background-color: #f0f0f0;
     text-align: center;
     padding: 20px;
     position: absolute;
     bottom: 0;
     left: 100;
     right: 100;
     top: 610px; 
     left: 360px; 
     
    }

    .project_button:hover{
        text-emphasis-color: red;
        transform: scale(1.1); /* For example, make it slightly larger */
        opacity: 0.8; /* Make it slightly transparent */
        /* Add any other desired styles */
    
    }


.audio {
        display:flex;
        flex-direction: column;
        align-items:center;
        }

.audio:hover{
            transform: scale(1.1); /* For example, make it slightly larger */
            opacity: 0.8; /* Make it slightly transparent */
            /* Add any other desired styles */
        
        }


#lost{
    display:none;
    text-align: center;
}
   
#lost:hover{
    transform: scale(3); /* For example, make it slightly larger */
    opacity: 0.8; /* Make it slightly transparent */
    /* Add any other desired styles */

}

#classroom{
    display:none;
    text-align: center;
}

.lost{
    display:flex;
    flex-direction: column;
    font-size: 100px;
    align-items: center;

}

.overlay-container {
    display:none;
    position: relative;
    width: max-content; 
    margin: 0 auto; 
}

#classroom {
    display: block;
    max-width: 100%; 
}


#aBook {
    position: absolute;
    top: 610px; 
    left: 460px; 
    width: 40px; 
    height: 40px; 
    z-index: 1; 
}

#aBook:hover {
    /* Add whatever changes you'd like upon hover below */
    transform: scale(1.6); /* For example, make it slightly larger */
    opacity: 0.8; /* Make it slightly transparent */
    /* Add any other desired styles */
}


.nextPage{
    display:none
}

.mouse{
    position: absolute;
    top: 750px; 
    left: 1100px; 
    width: 70px; 
    height: 70px; 
    z-index: 1; 

}

.whatClass{
    display:flex;
    flex-direction: column;
    font-size: 100px;
    align-items: center;


}


