h1{
    text-align: center;
color:darkgreen
}

 /* Remove default padding and margin */
 display: flex;
    justify-content: space-around;
    list-style-type: none;

/* Style the navigation bar */
nav {
    background-color: darkcyan;
    color: white;
    padding: 15px;
}

/* Style the list items in the navigation bar */
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}


/* Style the links in the navigation bar */
nav ul li a {
    color: white;
    text-decoration: none;
}

body, html {
    height: 100%;
    margin: 0;
  }
  body {
    background-image: url('https://th.bing.com/th/id/R.907206f7720d3d5a75b46d7ffa739ee1?rik=tZoVpx2F57ZOeA&pid=ImgRaw&r=0');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
      
    /* Center text */
.container {
    display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        text-align: center;


}
    
.project_heading{
    background-color: bisque;
    color: darkgreen  ;
}

.project_section{
    background-color: rgba(255, 255, 240, 0.6);
    border-radius: 30px;
    width:50%;
    display:inline-block;
    color: darkolivegreen;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5;
    padding: 20px;
    margin: 40px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center:

}

.project_video{
 padding:50px
}

.project_image{
  width: 32px%
  display:inline-block
  padding: 500px;
}
.container {
    align-items: center; 
    
  }
  .image{
    padding: 40px;
  }

  /* Your other CSS code */

  #comments-section {
    position: relative;
    top: 50px;
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(to bottom right,rgba(255, 255, 240, 0.6);); /* Gradient background */
    border: 3px solid #ccc; /* Slightly darker border */
    border-radius: 30px;
    color: #255;
    font-size: 18px;
    font-family: 'Georgia', serif; /* Different font */
    font-weight: normal;
    line-height: 1.6;
    padding: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#climber-img{
animation-name: move ;
animation-duration: 3s;
animation-iteration-count:infinite;
}

@keyframes move{
    0%{
        transform: translateY(0vh);
    }
    18%{
        transform: translateY(12vh);
    }
    36%{
        transform: translateY(24vh);

    }
    54%{
        transform: translateY(38vh);
    }

    70%{
        transform: translateY(52vh);
    }
}
